body {
    background-color: #1C2225;
    margin: 0;
    font-family: "Manrope", sans-serif;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.header-navigation {
    display: flex;
    gap: 60px;
    align-items: center;
}

.header-logo {}

.header-nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-list-item {}

.nav-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fcf9f9;
    padding: 17px 0;
    display: block;
}

.header-address {
    margin-left: auto;
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
}

.address-item:nth-child(1) {
    margin-right: 20px;
}

.address-item {
    margin-right: 12px;
}

.address-item:nth-child(4) {
    margin-right: 0;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fcf9f9;
}

.address-tel {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    /*
    width: 193px;
    height: 48px; */
}

.social-link {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
    background: rgba(252, 249, 249, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
}

.header-address {}

.address-list {}

.hero {
    position: relative;
}

.hero-img {
    width: 392px;
    height: auto;
    border-radius: 4px;
    margin-top: 100px;
    margin-right: 40px;
}

.hero-content {
    max-width: 518px;
    flex-grow: 1;
}

.hero-title {
    font-size: 54px;
    line-height: 1.18519;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    max-width: 518px;
    margin-top: 194px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.accent {
    color: #ecd979;
}

.hero-button {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fcf9f9;
    background-color: #1C2225;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding-top: 14px;
    padding-right: 77.26px;
    padding-bottom: 14px;
    padding-right: 39.74px;
    width: 168px;
    height: 50px;
    margin-bottom: 169px;
    margin-right: 181px;
}

.hero-text-container {
    position: absolute;
    right: 50px;
    top: 114px;
}

.hero-text {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.hero-text img {
    display: block;
}

.about-container {
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    justify-content: center;
    align-items: center;
}

.about-content {
    padding-top: 78.5px;
    padding-bottom: 78.5px;
    max-width: 536px;
}

.about-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 40px;
}

.about-text {
    font-size: 16px;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
}

.about-text:not(:last-child) {
    margin-bottom: 20px;
    max-width: 508px;
}

.about-img {
    display: block;
    margin-left: 50px;
    border-radius: 4px;
}



.collection-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;

}

.collection-container {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
}

.collection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    margin-bottom: 40px;
}

.collection-item {
    width: calc((100% - 40px) / 3);
    display: flex;
    flex-direction: column;

}

.collection-item-img {
    display: block;
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.collection-content {
    margin-top: 18px;
}

.collection-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fcf9f9;
    margin-bottom: 8px;
}

.collection-text {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}

.image-container {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.order {
    margin-bottom: 150px;
}

.order-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.order-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.31818;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    max-width: 542px;
    margin-bottom: 40px;
}

.order-field {
    margin-bottom: 20px;
}

.order-input {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 16px;
    width: 508px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: rgba(252, 249, 249, 0.5);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-input.comment {
    height: 196px;
    width: 508px;
    resize: none;
}

.order-btn {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 39px;
    width: 168px;
    height: 50px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #fcf9f9;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
    display: block;
}

.review {
    margin-bottom: 150px;
}

.review-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45455;
    letter-spacing: -0.03em;
    color: #fcf9f9;
    margin-bottom: 72px;
    text-align: start;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 26px;
    justify-content: center;
}

.review-item {
    width: calc((100% - 52px) / 3);
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    padding: 0px 18px 18px;
    min-height: 285px;

}

.review-img {
    display: block;
    margin: -32px auto 24px;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(16, 24, 40, 0.06);
}

.review-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fcf9f9;
    margin-bottom: 8px;
}

.review-item-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(252, 249, 249, 0.4);
}

.footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.footer .nav-list-link {
    padding: 0;
    display: inline;
}

.header-nav-list.footer {
    margin-bottom: 77px;
    border-top: none !important;
}

.footer-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.15625;
    letter-spacing: -0.03em;
    color: #fcf9f9;
}